
<!DOCTYPE html>
<html>
<head>
<title>Home Cakes</title>
<!--/tags -->
<link rel="stylesheet" href="css/caro.css" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//tags -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header -->
<%if(user.length == 0 ){%>
	<div class="header" id="home">
		<div class="container">
			<ul>
				<li> <a onclick="window.location.href='/login';"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Sign In </a></li>
				<li> <a onclick="window.location.href='/login';"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign Up </a></li>
				<li><i class="fa fa-phone" aria-hidden="true"></i> Call : <%= Introduction.phone%></li>
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a><%= Introduction.email%></a></li>
			</ul>
		</div>
	</div>
<%}else{%>
	<div class="header" id="home">
		<div class="container">
			<ul>
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a><%= user.email%></a></li>
				<li><i class="fa fa-phone" aria-hidden="true"></i>  <%= user.phone%></li>
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="/Profile">Profile</a></li>
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="/logout">Sign out</a></li>
			</ul>
		</div>
	</div>
<%}%>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">
		<div class="col-md-4 header-middle">
			<form action="#" method="post">
				<div class="clearfix"></div>
			</form>
		</div>
		<!-- header-bot -->
			<div class="col-md-4 logo_agile">
				<h1><a onclick="window.location.href='/HomeCakes';"><span>C</span>at Bakery <i class="fa fa-shopping-bag top_logo_agile_bag" aria-hidden="true"></i></a></h1>
			</div>
        <!-- header-bot -->
		<div class="col-md-4 agileits-social top_content">
						<ul class="social-nav model-3d-0 footer-social w3_agile_social">

														</ul>



		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<li class="active menu__item menu__item--current"><a class="menu__link" onclick="window.location.href='/HomeCakes';">Home <span class="sr-only">(current)</span></a></li>
					<li class=" menu__item"><a class="menu__link" onclick="window.location.href='/About';">About</a></li>
					<li class="menu__item dropdown">
					   <a class="menu__link" href="#" class="dropdown-toggle" data-toggle="dropdown">Category<b class="caret"></b></a>

								<ul class="dropdown-menu agile_short_dropdown">
									<%if (resultCategory.length > 0) {%>
		 						 <% for(var i=0;i<resultCategory.length; i++){%>
                  <li><a onclick="window.location.href='/Cupcakes?id=<%= resultCategory[i]._id%>';"><%= resultCategory[i].cake_type%></a></li>
									<% }} %>
								</ul>

					</li>
					<li class=" menu__item"><a class="menu__link" onclick="window.location.href='/Contact';">Contact</a></li>
					<li class=" menu__item"><a class="menu__link" onclick="window.location.href='/Blog';">Blog</a></li>
				  </ul>
				</div>
			  </div>
			</nav>
		</div>
		<div class="top_nav_right">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1">
						<form action="#" method="post" class="last">
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="display" value="1">
						<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
					</form>

						</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner-top -->
<!-- Modal1 -->
<!-- //Modal2 -->
<div id="slidy-container">
  <figure id="slidy">
		<%if (resultEvent.length > 0) {%>
		<% for(var i=0;i<resultEvent.length; i++){%>
			<a onclick="window.location.href='/Event?id=<%= resultEvent[i]._id%>';"><img src="/<%=resultEvent[i].link%>"></a>
			<a class="hvr-outline-out button2" >Shop Now </a>
		<% }} %>
  </figure>
</div>
  <!-- banner-bootom-w3-agileits -->
	<div class="banner-bootom-w3-agileits">
	<div class="container">
		<h3 class="wthree_text_info">What's <span>Trending</span></h3>

		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href="womens.html">
			   <div class="bb-left-agileits-w3layouts-inner grid">
					<figure class="effect-roxy">
							<img src="images/a2.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 55%</p>
							</figcaption>
						</figure>
			    </div>
			</a>
		</div>
		<div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
		      <a href="mens.html">
		       <div class="bb-middle-agileits-w3layouts grid">
			           <figure class="effect-roxy">
							<img src="images/a3.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 55%</p>
							</figcaption>
						</figure>
		        </div>
				</a>
				<a href="mens.html">
		      <div class="bb-middle-agileits-w3layouts forth grid">
						<figure class="effect-roxy">
							<img src="images/a4.jpg" alt=" " class="img-responsive">
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 65%</p>
							</figcaption>
						</figure>
					</div>
					</a>
		<div class="clearfix"></div>
	</div>
	</div>
    </div>
<!--/grids-->

<!--/grids-->
<!-- /new_arrivals -->
	<div class="new_arrivals_agile_w3ls_info">
		<div class="container">
		    <h3 class="wthree_text_info">New <span>Arrivals</span></h3>
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
							<li> ALL</li>
							<!-- <li> CUPCAKES</li>
							<li> BIRTHDAY CAKES</li>
							<li> BREAD</li> -->
						</ul>
					<div class="resp-tabs-container">
					<!--/tab_one-->
						<div class="tab1">
              <%if (result.length > 0) {%>
              <% for(var i=0;i<result.length; i++){%>
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="/<%=result[i].linkImage%>" style="width: 250px; height: 250px" alt="" class="pro-image-front">
										<img src="/<%=result[i].linkImage%>" style="width: 250px; height: 250px" alt="" class="pro-image-back">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a class="link-product-add-cart" onclick="window.location.href='/DetailCake?id=<%= result[i]._id%>';">Quick View</a>
												</div>
											</div>
											<span class="product-new-top">New</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="single.html"><%= result[i].name_cake%></a></h4>
										<h4><input type="hidden" name="id" value="<%= result[i]._id%>" /></h4>
										<div class="info-product-price">
											<span class="item_price"><%= result[i].price%></span>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="id" value="<%= result[i]._id%>" />
																	<input type="hidden" name="item_name" value="<%= result[i].name_cake%>" />
																	<input type="hidden"  name="amount" value="<%= result[i].price%>" />
																	<input type="hidden"  name="quan" value="<%= result[i].quantity%>" />
																	<input type="hidden" name="currency_code" value="VND" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>

									</div>
								</div>
							</div>
              <% }} %>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- //new_arrivals -->
	<!-- /we-offer -->
	<!-- //we-offer -->
<!--/grids-->
<!--grids-->
<!-- footer -->
<div class="footer">
	<div class="footer_agile_inner_info_w3l">
		<div class="col-md-3 footer-left">
			<h2><a href="index.html"><span>C</span>at Bakery </a></h2>
			<p>They taste as good as they look!
			Think outside the cake box.
		Making your life sweeter one bite at a time!</p>
			<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
		</div>
		<div class="col-md-9 footer-right">
			<div class="sign-grds">
				<div class="col-md-4 sign-gd">
					<h4>Our <span>Information</span> </h4>
					<ul>
						<li><a onclick="window.location.href='/HomeCakes';">Home</a></li>
						<li><a onclick="window.location.href='/About';">About</a></li>
						<li><a onclick="window.location.href='/Contact';">Contact</a></li>
						<li><a onclick="window.location.href='/Blog';">Blog</a></li>
					</ul>
				</div>

				<div class="col-md-5 sign-gd-two">
					<h4>Store <span>Information</span></h4>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p><%= Introduction.phone%></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mail.google.com"><%= Introduction.email%></a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p><%= Introduction.address%>
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 sign-gd flickr-post">
					<h4>OUT <span>TEAM</span></h4>
					<ul>
						<li><a href="single.html"><img src="images/t1.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/t2.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/t3.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/t4.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/t5.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/t4.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/t3.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/t2.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/t1.jpg" alt=" " class="img-responsive" /></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<p class="copy-right">&copy 2017 Cat Bakery. All rights reserved | Design by <a href="https://www.facebook.com/BlueBoy.CAT">CAT</a></p>
	</div>
</div>
<!-- //footer -->

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script src="js/modernizr.custom.js"></script>
	<!-- Custom-JavaScript-File-Links -->
	<!-- cart-js -->
	<script src="js/minicart.min.js"></script>
	<script>
	/* user defined variables */
var timeOnSlide = 3,
// the time each image will remain static on the screen, measured in seconds
timeBetweenSlides = 1,
// the time taken to transition between images, measured in seconds

// test if the browser supports animation, and if it needs a vendor prefix to do so
animationstring = 'animation',
animation = false,
keyframeprefix = '',
domPrefixes = 'Webkit Moz O Khtml'.split(' '),
// array of possible vendor prefixes
pfx  = '',
slidy = document.getElementById("slidy");
if (slidy.style.animationName !== undefined) { animation = true; }
// browser supports keyframe animation w/o prefixes

if( animation === false ) {
for( var i = 0; i < domPrefixes.length; i++ ) {
if( slidy.style[ domPrefixes[i] + 'AnimationName' ] !== undefined ) {
	pfx = domPrefixes[ i ];
	animationstring = pfx + 'Animation';
	keyframeprefix = '-' + pfx.toLowerCase() + '-';
	animation = true;
	break;
}
}
}

if( animation === false ) {
// animate in JavaScript fallback
} else {
var images = slidy.getElementsByTagName("img"),
	firstImg = images[0],
	// get the first image inside the "slidy" element.
	imgWrap = firstImg.cloneNode(false);  // copy it.
slidy.appendChild(imgWrap); // add the clone to the end of the images
var imgCount = images.length, // count the number of images in the slide, including the new cloned element
	totalTime = (timeOnSlide + timeBetweenSlides) * (imgCount - 1), // calculate the total length of the animation by multiplying the number of _actual_ images by the amount of time for both static display of each image and motion between them
	slideRatio = (timeOnSlide / totalTime)*100, // determine the percentage of time an induvidual image is held static during the animation
	moveRatio = (timeBetweenSlides / totalTime)*100, // determine the percentage of time for an individual movement
	basePercentage = 100/imgCount, // work out how wide each image should be in the slidy, as a percentage.
	position = 0, // set the initial position of the slidy element
	css = document.createElement("style"); // start marking a new style sheet
css.type = "text/css";
css.innerHTML += "#slidy { text-align: left; margin: 0; font-size: 0; position: relative; width: " + (imgCount * 100) + "%;  }\n"; // set the width for the slidy container
css.innerHTML += "#slidy img { float: left; width: " + basePercentage + "%; }\n";
css.innerHTML += "@"+keyframeprefix+"keyframes slidy {\n";
for (i=0;i<(imgCount-1); i++) { //
position+= slideRatio; // make the keyframe the position of the image
css.innerHTML += position+"% { left: -"+(i * 100)+"%; }\n";
position += moveRatio; // make the postion for the _next_ slide
css.innerHTML += position+"% { left: -"+((i+1) * 100)+"%; }\n";
}
css.innerHTML += "}\n";
css.innerHTML += "#slidy { left: 0%; "+keyframeprefix+"transform: translate3d(0,0,0); "+keyframeprefix+"animation: "+totalTime+"s slidy infinite; }\n"; // call on the completed keyframe animation sequence
document.body.appendChild(css); // add the new stylesheet to the end of the document
}

	</script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

	<!-- //cart-js -->
<!-- script for responsive tabs -->
<script src="js/easy-responsive-tabs.js"></script>
<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default', //Types: default, vertical, accordion
	width: 'auto', //auto or any width like 600px
	fit: true,   // 100% fit in a container
	closed: 'accordion', // Start closed if in accordion view
	activate: function(event) { // Callback function if tab is switched
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
</script>
<!-- //script for responsive tabs -->
<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
<!-- //stats -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->


<!-- for bootstrap working -->
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>
